.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 371px;
    margin: 0 auto;
    margin-top: 36px;
}

.input {
    width: 272px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;
    padding-left: 16px;
}

.button {
    border-radius: 8px;
    border: 1px solid #4e75ff;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background: #6c8cff;
}